.App {
  text-align: center;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  height: 100vb;
  align-self: center;
  margin-top: 85px;
}

.App h1 {
  font-size: 32px;
}

body {
  background: radial-gradient(#b4ffdb, #5280ff);
  background-repeat: no-repeat;
  height: 100vb;
}

.InputForm form {
  background-color: white;
  max-width: 600px;
  border-radius: 4px;
  margin: 20px auto;
  padding: 50px 60px;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.InputForm .questions {
  display: flex;
  justify-content: space-evenly;
}

/* do these more organized  */
.instructions {
  font-size: 11px;
  color: gray;
}

.input {
  margin: 20px 0;
}

.InputForm .species-question,
.vibe {
  display: block;
  max-width: 200px;
  margin: 20px 0;
}

#submit {
  background-color: #b4ffdb;
  padding: 8px 16px;
  border: 1px solid #18357f;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
  transition: all 100ms ease-in-out;
}
#submit:hover {
  cursor: pointer;
  background-color: #5280ff;
  color: white;
}

.name {
  font-size: 15px;
  background-color: white;
  max-width: 700px;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px 0;
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

.Footer {
  margin-top: 20px;
}

.Footer a {
  color: #18357f;
}

@media (max-width: 750px) {
  .App {
    margin-top: 30px;
  }

  .InputForm form,
  .name {
    display: block;
    max-width: 70%;
    padding: 20px;
  }

  .questions {
    flex-direction: column;
  }

  .speciesQuestion,
  .vibe {
    display: block;
    margin: 20px auto;
  }

  .Footer {
    max-width: 70%;
    font-size: 11px;
    margin: 0 auto;
  }
}
