.App {
  text-align: center;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  height: 100vb;
  align-self: center;
}

body {
  background: radial-gradient(#b4ffdb, #5280ff);
  background-repeat: no-repeat;
  height: 100vb;
}

.InputForm form {
  background-color: white;
  max-width: 700px;
  border-radius: 4px;
  margin: 20px auto;
  padding: 50px 60px;
}

.InputForm .questions {
  display: flex;
  justify-content: space-evenly;
}

/* do these more organized  */
.instructions {
  font-size: 11px;
  color: gray;
}

.input {
  margin: 20px 0;
}

.name {
  background-color: white;
  max-width: 700px;
  border-radius: 4px;
  margin: 20px auto;
}

.hidden {
  display: none;
}

.Footer a {
  color: #18357f;
}
